@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
  font-family: 'Permanent Marker', cursive;  
}
.App {
  text-align: center;
  
}
body{
  background-image: url("./accets/fondo-inicio.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

