.containerCards{
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
    justify-content: center;
    align-items: center;
}
.imgLoading{
    position: absolute;
    width: 13%;
    top: 15em;
    left: 37em;
}