.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.container label{
    font-size: 1em;
    margin-right: 1%;
}
select{
    width: 8%;
    font-size: 1em;
    margin-right: 1%;
    height: 1.5em;
}
select option{    
    font-size: 15px;    
}

.container button{
    margin-left: 1em;
    width: 6em;
    background-color: rgb(45, 45, 195);
    transition: transform(1s);
    border-radius: 8px;
    color: aliceblue;    
}
.container button:hover{
    background-color: rgb(68, 124, 237);
    color: black;
}

